<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.radio.DigitalWeb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:icon,android:appComponentFactory"
        tools:targetApi="p">

        <activity
            android:name="br.radio.DigitalWeb.Activitys.MainActivityPrincipal"
            android:label="@string/title_activity_main_principal"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- android:configChanges="orientation|keyboardHidden|screenSize">  Atenção isso impede que o Oncreate seja chamado oa girar a tela -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activitys.ProgramacaoActivity"
            android:label="@string/title_activity_main_principal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Activitys.ActivityCustonDialogTemporizador"
            android:label="@string/title_activity_main_principal"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name=".Activitys.ActivityPedidos"
            android:label="@string/title_activity_main_principal"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name=".Activitys.ActivityHistorico"
            android:label="@string/title_activity_main_principal"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">

        </activity>

        <service
            android:name="br.radio.DigitalWeb.Services.PlayerService"
            android:exported="false"
            android:label="PlayerService"
            android:stopWithTask="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="PLAYER_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="br.radio.DigitalWeb.Services.SleepTimerService"
            android:exported="false"
            android:label="SleepTimerService"
            android:stopWithTask="false" />

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name="br.radio.DigitalWeb.BroadcastReceiver.MyRadioNotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="NOTIFY_FECHAR2" />
                <action android:name="NOTIFY_PLAYPAUSE2" />
            </intent-filter>
        </receiver>
        <receiver android:name="br.radio.DigitalWeb.BroadcastReceiver.BroadcastReceiverPlayPause" />
        <receiver android:name="br.radio.DigitalWeb.BroadcastReceiver.BroadcastReceiverSair" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icone" />
            -->
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <!--
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        -->
    </application>

</manifest>